.garbage {

  .container {
    background-color: #fff;
    padding: 30px;

    .bar {
      margin-bottom: 30px;

      .search-btn {
        display: inline-block;
        max-width: 250px;
      }

      .select {
        min-width: 100px;;
      }

      .right {
        margin-right: 10px;
      }

      .float-right {
        float: right;
      }
    }

    .table {
      .btn {
        margin-right: 10px;
      }

      .center {
        text-align: center;
      }
    }
  }
}